<div class="slide">
  <%= link_to potepan_product_path(related_product.id) do %>
    <div class="productImage clearfix">
      <%= image_tag("/spree/products/#{related_product.display_image.id}/large/#{related_product.display_image.attachment_file_name}", :alt => "featured-product-img") %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= related_product.name %></h5>
    </div>
  <% end %>
    <div>
      <h3><%= related_product.display_price %></h3>
    </div>
</div>
