<!DOCTYPE html>
<html>
  <head>
    <title>Potepanec</title>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
